.field {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 20px;
  border: 1px solid gray;
  background-color: white;

  &--clicked {
    &-player1 {
      background-color: blue;
    }

    &-player2 {
      background-color: red;
    }
  }
}
