.field {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  border: 1px solid gray;
  background-color: white;

  &--clicked {
    &-player1 {
      background-color: blue;
    }

    &-player2 {
      background-color: red;
    }
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

#status {
  height: 160px;
  overflow-y: scroll;

  .warning {
    color: red;
  }
}
