.field {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  margin: 5px;
  border: 1px solid gray;
  background-color: white;

  &--clicked {
    &-player1 {
      &::before {
        content: '';
        position: relative;
        display: inline-block;
        background-color: black;
        width: 100px;
        height: 1px;
        transform: rotateZ(45deg);
        top: 37px;
        left: 0;
      }

      &::after {
        content: '';
        position: relative;
        display: inline-block;
        background-color: black;
        width: 100px;
        height: 1px;
        transform: rotateZ(-45deg);
        top: 18px;
        left: 0;
      }
    }

    &-player2 {
      &::before {
        content: '';
        display: inline-block;
        position: relative;
        width: 88px;
        height: 88px;
        border-radius: 100px;
        top: 5px;
        left: 5px;
        border: black 1px solid;
      }
    }
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

#start-form {
  display: inline-block;
  width: 19.5%;
}

#status {
  display: inline-block;
  overflow-y: auto;
  width: 59.5%;
  height: 100%;

  .warning {
    color: red;
  }
}

.header {
  height: 195px;
}

span {
  display: block;
  margin-top: 5px;
}

#players {
  width: 19.5%;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

#fields {
  display: inline-block;
  margin: {
    top: 30px;
    left: 5px;
  };

  &.next-player {
    border: red 5px solid;
    margin: {
      top: 25px;
      left: 0;
    }
  }
}

input, select {
  width: 170px;
  box-sizing: border-box;
}
